<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Welcome!{% endblock %}
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('css/mystyle.css') }}"/>
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{{ path('welcome') }}">Home</a>

          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('hello_page') }}">Hello Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Another Link</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container main">
        {% block body %}{% endblock %}
    </main>
    {% block javascripts %}{% endblock %}
  </body>
</html>
